*.pyc
.venv
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/securelistener-clb.config
.ebextensions/secret-env-vars.config
.ebextensions/https-instance-securitygroup.config