body {
  color: #111;
}

.container {
  height: 100%;
}
.header {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: ;
}
.post {
  font-family: "Open Sans", sans-serif;
}

.date {
  font-family: "Open Sans", sans-serif;
}
.title {
  font-family: "IBM Plex Sans", sans-serif;
}
