{% extends 'blog/base.html' %}
{% block content %}
  <div class="container">
    <div>
      <h1 class="header">My Blog</h1>
      <hr />
    </div>
    {% for post in posts %}
      <div>
        <h1 class="title">
          <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h1>
        <p class="post">{{ post.text | linebreaksbr }}</p>
        <p class="author">
          written on {{ post.published_date }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
